#quickview-sidebar {
    bottom: 0;
    left: auto;
    overflow: hidden;
    position: fixed;
    right: -280px;
    top: 0;
    -webkit-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    width: 280px;
    z-index: 1000;
}
#quickview-sidebar.open {
    -moz-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
    -ms-transform: translate(-100%, 0);
    -o-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate3d(-100%, 0, 0);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
    display: block;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 0.15), Direction=180, Strength=2);
    transform: translate3d(-100%, 0, 0);
}
#quickview-sidebar:not(.open):not(.closing) .quickview {
    display: none;
}
#quickview-sidebar:not(.open):not(.closing) .quickview-header {
    display: none;
}
#quickview-sidebar .quickview {
    -webkit-overflow-scrolling: touch;
    background: #ffffff;
    bottom: 0;
    color: #818181;
    height: auto;
    left: 0;
    left: auto;
    overflow: hidden;
    position: absolute;
    right: auto;
    top: 50px;
    width: 280px;
    z-index: 1;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
#quickview-sidebar .quickview .tab-content {
    border-top: none;
    padding: 0;
    position: relative;
}
#quickview-sidebar .quickview .tab-content #chat {
    padding: 0 20px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation {
    bottom: 0;
    left: -300px;
    padding: 0;
    position: relative;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 280px;
    z-index: 1000;
    -webkit-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-header {
    padding: 0;
    position: relative;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-header .user {
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-header .user-img {
    float: left;
    width: 50px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-header .user-img .badge {
    font-size: 11px;
    margin-left: -10px;
    padding: 2px 5px;
    position: absolute;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-header .user-details {
    text-align: center;
    width: 100%;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-header .user-details .user-name {
    text-align: center;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-header .user-details .user-txt {
    color: #526a82;
    text-align: center;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-header .user-status i {
    float: right;
    margin-right: 0;
    margin-top: 15px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-header .chat-back {
    color: #424242;
    cursor: pointer;
    font-size: 16px;
    left: 25px;
    position: absolute;
    top: 22px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body {
    padding: 25px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body li {
    clear: both;
    content: " ";
    display: table;
    margin-bottom: 15px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body li:last-child {
    margin-bottom: 65px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body .conversation-img {
    float: left;
    margin-right: 15px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body .chat-detail {
    float: left;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body .chat-detail .chat-bubble {
    background: #e5e9ec;
    color: #22262e;
    float: right;
    line-height: 20px;
    min-height: 40px;
    padding: 0;
    padding: 10px;
    position: relative;
    white-space: normal;
    width: 157px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body .chat-detail .chat-bubble:after {
    border-color: rgba(0, 0, 0, 0) #e5e9ec;
    border-style: solid;
    border-width: 9px 7px 9px 0;
    content: '';
    display: block;
    left: -7px;
    position: absolute;
    top: 12px;
    width: 0;
    z-index: 1;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body .chat-detail .chat-date {
    color: #636F77;
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
    text-align: right;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-message {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 2;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-message .item-footer {
    padding: 9px 15px;
    background: #F0F0F0;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-message .item-footer i {
    float: left;
    text-align: center;
    width: 25%;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-message input {
    border-top: 1px solid #DFDFDF;
    border: none;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body .chat-detail.chat-right .chat-bubble {
    background: #2B2E33;
    color: #ffffff;
    float: left;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body .chat-detail.chat-right .chat-bubble:after {
    border-color: rgba(0, 0, 0, 0) #2b2e33;
    border-width: 9px 0 9px 7px;
    left: auto;
    right: -7px !important;
    top: 12px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body .chat-detail.chat-right img {
    float: right!important;
    margin: 3px 0 -5px 10px !important;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-message .footer-actions i:hover {
    color: #5C5C5C;
    cursor: pointer;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation.current {
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
#quickview-sidebar .quickview .tab-content #chat .chat-body {
    bottom: 0;
    left: auto;
    position: absolute;
    right: -280px;
    top: 0;
    width: 280px;
    -webkit-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 1000;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-search {
    margin-top: 15px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-search .form-control {
    width: 100%;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-groups i {
    margin-top: 8px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-groups .title {
    color: #526a82;
    font-family: 'Lato', arial;
    font-weight: 700;
    text-transform: uppercase;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-groups ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-groups ul li {
    color: #818181;
    line-height: 25px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-groups ul li:hover {
    cursor: pointer;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-groups li i {
    float: left;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-list li i {
    float: right;
    margin-top: 9px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-list ul li {
    display: block;
    padding: 10px 15px 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-list ul li:hover {
    background-color: #F4F5F7;
    cursor: pointer;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-list .user-img {
    float: left;
    width: 50px;
    position: relative;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-list .user-img img , #quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-body .conversation-img img
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.user-img {
    float: left;
    width: 50px;
    position: relative;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-list .user-img .badge {
    font-size: 11px;
    margin-left: -10px;
    padding: 2px 5px;
    position: absolute;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-list .user-details {
    float: left;
    width: 130px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body .chat-body .chat-list li .user-details .user-txt {
    color: #526a82;
}
#quickview-sidebar .quickview .tab-content #chat .chat-body.current {
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
#quickview-sidebar .quickview .tab-content #chat .chat-body > div {
    padding: 0 20px;
}
#quickview-sidebar .quickview .tab-content .title {
    color: #526a82;
    font-family: 'Lato', arial, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 30px;
}
#quickview-sidebar .quickview .tab-content #settings .settings {
    padding: 0 20px;
}
#quickview-sidebar .quickview .tab-content #settings .setting {
    margin-bottom: 20px;
}
#quickview-sidebar .quickview .tab-content #settings .setting .setting-info {
    color: #98A1A6;
    font-size: 12px;
    margin-top: 3px;
}
#quickview-sidebar .quickview .tab-content #settings .switch {
    margin-top: -4px;
}
#quickview-sidebar .quickview .tab-content #settings .settings-chart .chart-title {
    color: rgba(0, 0, 0, 0.6);
    float: left;
    font-family: 'Open Sans';
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 0;
    opacity: 1;
    text-transform: none;
}
#quickview-sidebar .quickview .tab-content #settings .settings-chart .chart-number {
    color: rgba(0, 0, 0, 0.5);
    float: right;
    font-size: 11px;
    margin-top: 2px;
}
#quickview-sidebar .quickview .tab-content #settings .settings-chart .progress {
    background: rgba(0, 0, 0, 0.1);
    height: 6px;
}
#quickview-sidebar .quickview .tab-content #settings .progress-chart .settings-chart .chart-.number {
    font-family: 'Open Sans';
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 0;
    opacity: 1;
    text-transform: none;
}
#quickview-sidebar .quickview .tab-content #notes {
    background: #fefaed;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes {
    background: #fefaed;
    bottom: 0;
    left: -280px;
    padding: 0;
    position: fixed;
    top: 50px;
    -webkit-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    width: 280px;
    z-index: 1000;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: auto;
    right: 0;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes.current {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    right: 0;
    left: auto;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes h3 {
    margin-top: 5px;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes h3 small {
    color: #B96F6F;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes .mCustomScrollBox {
    overflow: hidden!important;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes .input-group {
    background: #ffffff;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes #add-note {
    color: #3F3F3F;
    display: block;
    float: none;
    font-family: 'Lato', arial, sans-serif;
    font-weight: 700;
    margin-right: 10px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes #add-note i {
    padding-right: 10px;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes #add-note:hover {
    cursor: pointer;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes #notes-list {
    overflow: hidden;
    padding: 0 20px;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes #notes-list .note-desc {
    color: #CFCFCF;
    margin-bottom: 10px;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes #notes-list .note-item {
    border-bottom: 1px solid #EBEBEB;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 10px 0;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes #notes-list .note-item:hover p {
    color: #121212;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes #notes-list .note-item h5 {
    margin-top: 0;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes #notes-list .note-item p {
    height: 20px;
    margin-bottom: 0;
    overflow: hidden;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .notes #notes-list .close {
    font-size: 14px;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes .note-title {
    margin-top: 0;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes.current {
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
#quickview-sidebar .quickview .tab-content #notes .detail-note {
    bottom: 0;
    position: absolute;
    right: -280px;
    top: 0;
    -webkit-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    width: 280px;
    z-index: 1000;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note #note-detail {
    overflow: hidden;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note #note-detail .note-write {
    -moz-background-size: 100% 40px;
    -ms-background-size: 100% 40px;
    -webkit-background-size: 100% 40px;
    background-size: 100% 40px;
    background: -moz-linear-gradient(top, #f0f0f0 0%, #ffffff 5%) 0 0;
    background: -webkit-linear-gradient(top, #f0f0f0 0%, #ffffff 5%) 0 0;
    background: linear-gradient(top, #f0f0f0 0%, #ffffff 5%) 0 0;
    padding: 0;
    position: relative;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note #note-detail .note-write:before {
    border-left: 1px solid #FCE1BE;
    bottom: 0;
    content: '';
    left: 20px;
    position: absolute;
    top: 0;
    width: 0;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note #note-detail .note-write:after {
    border-left: 1px solid #FCE1BE;
    bottom: 0;
    content: '';
    left: 24px;
    position: absolute;
    top: 0;
    width: 0;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note #note-detail .note-write textarea {
    background-color: #fefaed !important;
    border: none;
    font-family: 'Lato', arial !important;
    font-weight: 100;
    font-size: 18px;
    height: 100%;
    line-height: 40px;
    min-height: 300px;
    padding: 0 0 0 35px;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note #note-detail .note-write textarea:hover {
    background-color: #fefaed !important;
    border: none!important;
    outline: none!important;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note #note-detail .note-write textarea:focus {
    background-color: #fefaed !important;
    border: none!important;
    outline: none!important;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note .note-header {
    background: #fefaed;
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 15px;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note .note-header .note-edit {
    text-align: center;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note .note-header .note-subtitle {
    color: #526a82;
    font-size: 12px;
    text-align: center;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note .note-header .note-back {
    color: #424242;
    cursor: pointer;
    font-size: 16px;
    left: 20px;
    position: absolute;
    top: 22px;
}
#quickview-sidebar .quickview .tab-content #notes .detail-note.current {
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
#quickview-sidebar .quickview-header {
    background-color: #292C35;
    font-family: 'Lato', arial;
    font-weight: 100;
    font-size: 12px;
    height: 50px;
    width: 280px;
    z-index: 10;
}
#quickview-sidebar .quickview-header .nav.nav-tabs {
    border-bottom: none;
    width: 34%;
    margin: 0 auto;
}
#quickview-sidebar .quickview-header .nav > li {
    text-align: center;
    /*width: 33%;*/
}
#quickview-sidebar .quickview-header .nav > li > a {
    background: none;
    color: #909090;
    font-family: 'Lato', arial, sans-serif;
    font-weight: 700;
    /*padding: 16px 15px;*/
    padding: 16px 29px;
    text-transform: uppercase;
}
#quickview-sidebar .quickview-header .nav.nav-tabs > li.active > a {
    background: none;
    color: #ffffff;
}
#quickview-sidebar .quickview-header .nav-tabs > li > a::before {
    display: none;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-message input.form-control.form-white,
.conversation-message input.form-control.form-white:hover,
.conversation-message input.form-control.form-white:focus,
.conversation-message textarea.form-control.form-white:active {
    border: none;
    border-top: 1px solid #DFDFDF;
    height: 35px;
    outline: none!important;
}
#quickview-sidebar.closing {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#quickview-sidebar.closing .quickview .tab-content #chat .chat-body {
    -ms-transform: translate(0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
#quickview-sidebar.closing .quickview .tab-content #chat .chat-body.current {
    -ms-transform: translate(0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
#quickview-sidebar .quickview .tab-content #notes .list-notes.current {
    -ms-transform: translate(0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation .conversation-message {
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    left: auto;
    right: 0;
    transform: translate3d(100%, 0, 0);
    width: 280px;
}
#quickview-sidebar .quickview .tab-content #chat .chat-conversation.current .conversation-message {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.ie-browser #quickview-sidebar {
    -moz-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -ms-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -o-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -webkit-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
}
.ie-browser #quickview-sidebar .quickview .tab-content #chat .chat-body {
    -moz-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -ms-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -o-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -webkit-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
}
.ie-browser #quickview-sidebar .quickview .tab-content #chat .current.chat-body {
    -moz-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -ms-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -o-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -webkit-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
}
.ie-browser #quickview-sidebar.closing .quickview .tab-content #notes .list-notes {
    -moz-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -ms-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -o-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    -webkit-transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    transition: transform 0s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
}

/*new style added*/

.user-txt {
    font-size: 12px;
    padding: 4px 0px;
    line-height: 17px;
}

.chat-list {
    /*overflow: scroll;*/
    overflow: auto;
}

.conversation-body {
    overflow-y: auto;
    height: 650px;
}

.chat-bubble span {
    font-size: 14px;
}
.dropdown-chat {
    position: absolute;
    background: whitesmoke;
    width: 240px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 200px;
}
.chat-right .conversation-img {
    float: right !important;
}

