.tab-content-outer {
    margin-top: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea {
    resize: none;
    padding-left: 5px;
    padding-top: 5px;
}

.post_content_div {
    border-bottom: 1px solid #edeff2;
    padding-bottom: 13px;
    margin-top: 13px;
}

.post_content_reply_div {
    border-bottom: 1px solid #edeff2;
    padding-bottom: 13px;
    margin-top: 13px;
}

/*.commenting_box{
    overflow: hidden
}
.boards_tab{
    overflow: hidden
}*/
.post_head {
    border-bottom: 1px solid #edeff2;
    padding-bottom: 5px;
}

.update_tab {
    margin-top: 14px;
}

.post_action_div {
    padding-top: 5px;
}

.active_post_btn {
    color: #fff !important;
    background-color: #386cbb !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #264f8c !important;
}

.active_post_btn:hover {
    color: #fff !important;
    background-color: #264f8c !important;
    border-color: #264f8c !important;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(51, 51, 51, .4) !important;
}

.active_post_btn:active {
    color: #fff !important;
    background-color: #264f8c !important;
    border-color: #9ac3ff !important;
}

.share_text {
    font-family: 'PT Sans', sans-serif !important;
    font-size: 14px !important;
    min-height: 50px !important;
}

.share_text2 {
    font-family: 'PT Sans', sans-serif !important;
    font-size: 14px !important;
    min-height: 50px !important;
    height: 35px !important;
}

.user_popup {
    margin-top: 2px !important;
}

.reply_user_img {
    height: 38px !important;
    width: 38px !important;
    object-fit: cover !important;
}

.required_error_span {
    color: red;
}

.alert-success {
    padding: 8px !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    display: none;
}

.more_share {
    display: none;
}

.post_like_div {
    border-bottom: 1px solid #edeff2;
    padding-bottom: 13px;
    margin-top: 13px;
    color: #626262;
    font-size: 15px;
}

.post_reply_like_div {
    border: none;
    margin-top: 20px;
    // margin-top : 13 px;
    color: #626262;
    font-size: 15px;
}

.scroller_loading_img {
    height: 25px;
    object-fit: cover;
}

.scroller_loading_div {
    text-align: center;
    display: none;
}

.img_loading_div {
    text-align: center;
    display: none;
}

.favorite_btn {
    margin-right: 5px;
}

.favorite_btn:hover {
    color: #D68C00;
}

.make_favorite_btn {
    margin-right: 5px;
    color: #D68C00;
}

.complete_body {
    display: none;
    // cursor : pointer;
}

.share_box2 {
    height: 35px !important;
}

.truncated_body {
    // cursor : pointer;
}

.add_files {
    width: 100%;
    float: left;
    border: 1px solid #E6E6E6;
    min-height: 50px;
    border-top: none;
    padding-top: 5px;
}

.image_upload_item {
    width: 98%;
    margin-bottom: 5px;
    margin-left: 6px;
    height: 63px;
    float: left;
    border-radius: 2px;
    background-color: #f3f5f8;
    border: 1px solid #dde0e6;
}

.front-end-font {
    color: #626262;
    font-family: 'open_sansregular';
    font-size: 13px;
    margin: 0px;
    line-height: 20px;
}

.uploaded_img_message_div {
    padding: 5px;
}

.file_msg {
    color: #626262;
    font-size: 11px;
    margin-top: 3px;
}

.progress {
    width: 100% !important;
}

.progress-bar {
    background-color: #337ab7 !important;
}

.job_opening_list {
    line-height: 1.42857143;
}

.internship_list {
    line-height: 1.42857143;
}

.modal_field {
    width: 100%;
    float: left;
    padding: 12px 0px;
}

.pop_up_taxt {
    margin-top: 5px;
    font-family: 'open_sansregular';
    font-size: 13px;
    padding-left: 5px;
}

.jobopening_action_btn_div {
    margin-top: 18px;
}

.hostel_heading_div {
    border-bottom: 1px solid #e6e6e6 !important;
}

.hostel_heading_h3 {
    border-bottom: none !important;
}

.hostel_details_edit_btn {
    margin: 8px;
}

.odd_list > li {
    padding-bottom: 6px !important;
}

.even_list > li {
    padding-bottom: 6px !important;
}

.select_course_table {
    margin-top: 15px !important;
}

.course_type {
    width: 33.333333%;
}

.add_courses_teacher_div {
    color: #626262;
    font-family: 'open_sansregular';
    font-size: 14px;
    margin: 0px;
    padding: 10px 20px;
    border: 1px solid #e6e6e6;
    border-bottom: none;
}

.front-end-btn {
    width: 100%;
    background-color: #b2b2b2;
    color: white;
    font-family: 'open_sansregular';
    font-size: 13px;
    padding: 7px 0px;
    border: none;
    border-radius: 2px;
}

.front-end-btn:hover {
    background-color: #4A7DCA !important;
}

.green_btn:hover {
    color: #fff !important;
}

.blue_btn:hover {
    color: #fff !important;
}

.grey_btn, .blue_btn, .green_btn {
    border-radius: 0px !important;
}

.course_select {
    margin-bottom: 8px;
}

.date_text {
    padding-left: 5px !important;
}

.required_error_label {
    color: red !important;
}

.fees_year_head {
    padding: 10px;
    background-color: #e6e6e6;
    border-bottom: 1px solid #fff;
}

.fees_year_body {
    margin-bottom: 15px;
    display: none;
}

.add_people {
    margin: 2px !important;
}

.updateAddPeopleInputDiv {
    width: auto;
    height: auto;
    float: left;
    padding: 4px 7px;
    border-radius: 2px;
    margin-right: 6px;
}

.updateAddPeopleInputDiv > input {
    width: 68% !important;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 14px !important;
}

.praise_notify_pop {
    float: left;
    left: none !important;
}

.people_list ul li {
    cursor: pointer;
}

.no_more_user_li {
    color: #68717f;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    width: 100%;
}

.notify_user_body a {
    font-size: 14px !important;
    /*color: #626262 !important;*/
}

.notify_user_body {
    line-height: 18px;
}

.reply_post_notify_user_body {
    line-height: 18px;
}

.notify_user_heading {
    font-size: 13px;
    width: 5%;
    float: left;
    padding-top: 3px;
}

.reply_post_notify_user_heading {
    font-size: 13px;
    width: 5%;
    float: left;
    padding-top: 3px;
}

.notified_user_div {
    padding-top: 9px;
    padding-bottom: 6px;
    color: #626262;
    font-family: 'open_sansregular';
}

.reply_post_notified_user_div {
    padding-top: 9px;
    padding-bottom: 6px;
    color: #626262;
    font-family: 'open_sansregular';
}

.reply_post_text_poll2 {
    border: 1px solid #e6e6e6;
    background: #fff;
}

.add_people_reply_post {
    padding: 0px;
}

.notify_people_reply_post_input {
    float: left;
    margin-top: 7px;
}

.reply_post_praise_notify_pop {
    display: none;
    width: 50%;
    margin-top: 20px;
    margin-left: 5px;
}

.poll_text_reply_post {
    border: none !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 5px !important;
}

.color_user {
    background-image: url(../image/color_user.png);
    background-repeat: no-repeat;
    display: block;
    height: 15px;
    width: 14px;
    float: left;
    margin: 1px 0px;
}

.stud_tab_details span {
    color: #3e75c7;
    font-family: 'open_sansregular';
    font-size: 13px;
    cursor: pointer;
}

.exam_table {
    width: 100% !important;
    margin-top: 0px !important;
}

.exam_table .table tfoot tr {
    background-color: #f2f2f2;
}

.exam_table .table tfoot tr td {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #474747;
    text-align: right;
    vertical-align: middle;
}

.courses_table tr td {
    padding: 12px 12px;
}

.courses_table thead tr {
    color: #626262;
    font-family: 'open_sansregular';
    font-size: 14px;
    margin: 0px;
    padding: 10px 20px;
    background-color: #f6fafc;
    border-bottom: 1px solid #e6e6e6;
}

.courses_table tbody tr {
    color: #626262;
    font-family: 'open_sansregular';
    font-size: 14px;
    margin: 0px;
    padding: 10px 20px;
}

.td_right_border {
    border-right: 1px solid #e6e6e6;
}

.td_left_border {
    border-left: 1px solid #e6e6e6;
}

.job_description_details {
    font-size: 13px;
    font-family: 'open_sansregular';
    color: #626262;
    margin: 0px;
    padding-bottom: 13px;
    line-height: 22px;
}

.internship_description_details {
    font-size: 13px;
    font-family: 'open_sansregular';
    color: #626262;
    margin: 0px;
    padding-bottom: 13px;
    line-height: 22px;
}

.comment_reply_box {
    display: none;
}

/*******************Mahadev*******************/
.vis_select {
    line-height: 16px;
}

.group_error {
    display: none;
    float: right;
    color: #FF0000;
    font-family: 'open_sansregular';
    font-size: 11px;
}

.grp_settings {
    margin-left: 15px;
    font-size: 15px !important;
    cursor: pointer;
}

.joined_group i {
    color: green;
    cursor: pointer;
}

.leave_group i {
    color: red;
    cursor: pointer;
}

.leave_group {
    display: none;
    cursor: pointer;
}

.joined_group {
    cursor: pointer;
}

.add_member_button {
    padding: 8px 5px;
    cursor: pointer;
    border: 1px solid #BABEC1;
    background-color: #F1F1F1;
    font-size: 23px;
}

.members_div {
    height: 170px;
    max-height: 386px;
    overflow-x: hidden;
}

.members_div ul li {
    display: block;
}

.existing_user img {
    width: 51px;
    height: 52px;
    object-fit: cover;
}

.existing_user {
    padding: 10px 13px;
    background: rgba(226, 236, 241, 0.38);
    border: 1px solid rgba(220, 220, 220, 0.45);
}

.user_pic {
    float: left;
}

.user_delete {
    float: right;
    color: #929292;
    cursor: pointer;
}

.request_btn {
    float: right;
    cursor: pointer;
}

.grp_img_loading {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #F5F5F5;
    display: none;
}

.grp_img_loading img {
    position: absolute;
    top: 25px;
    left: 25px;
}

.font_open_13 {
    color: #626262;
    font-family: 'open_sansregular';
    font-size: 13px;
    font-weight: 300;
}

.font_15_grp {
    color: #626262;
    font-size: 15px;
    font-weight: 300;
}

.group_icon_image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.add_more {
    background-color: #dde0e6;
    padding: 3px 6px;
    font-family: 'open_sansregular';
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    float: left;
    margin-right: 5px;
    color: #626262;
    cursor: pointer;
}

.add_more:hover {
    background-color: #B5B5B5;
    color: #f5f5f5;
}

.delete_answer {
    cursor: pointer;
}

.people_list::-webkit-scrollbar {
    width: 7px;
}

.people_list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #D6D6D6;
}

.people_list::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px #8A8D92;
}

.poll_question_p {
    line-height: 30px !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.poll_answer_p label {
    font-size: 14px !important;
    line-height: 30px !important;
    color: #2B2B2B;
    font-weight: 100;
    cursor: pointer;
}

.poll_cc_p {
    margin-top: 15px !important;
    color: #8A8A8A !important;
    line-height: 27px !important;
}

.praise_badge {
    float: left !important;
}

.praise_notify_pop, .praise_notify_pop2 {
    min-width: 35%;
    max-width: 50%;
    background-color: #F3F5F8;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .2);
    margin-top: 2px;
    display: none;
    position: absolute;
    z-index: 20;
    left: 28%;
}

.praise_notify_pop ul, .praise_notify_pop2 ul {
    margin: 0px;
}

.praise_notify_pop ul li, .praise_notify_pop2 ul li {
    padding: 4px 7px;
    float: left;
    width: 100%;
}

.praise_notify_pop ul li:hover, .praise_notify_pop2 ul li:hover {
    background-color: #F3F5F8;
}

.praise_notify_pop2 {
    left: 0;
    margin-top: 6px;
}

.praise_notify_pop h5, .praise_notify_pop2 h5 {
    color: #68717f;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    margin: 0px;
    float: left;
    padding: 0px 10px;
}

.praise_notify_pop h6, .praise_notify_pop2 h6 {
    color: #717171;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    /*margin-left: 25px;*/
    padding: 0px 10px;
    float: left;
}

.people_list,.praise_people_list {
    background-color: white;
    float: left;
    width: 100%;
    max-height: 217px;
    overflow-y: scroll;
}

.people_list p, .praise_people_list p {
    color: #C4BABA;
    font-family: 'open_sansregular';
    font-size: 9px;
    margin: 0px;
    padding: 8px 5px;
}

.praise_people_list::-webkit-scrollbar{
    width: 7px;
}

.praise_people_list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #D6D6D6;
}

.praise_people_list::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px #8A8D92;
}

.praised_div {
    min-height: 100px;
    border: 1px solid #ECECEC;
}

.praise_div_image {
    float: left;
    padding: 0px;
}

.praised_div img {
    width: 85%;
    padding: 15px 15px;
}

.praise_div_details {
    padding: 20px 0px;
}

.praise_member_p {
    font-size: 15px !important;
    color: #000000 !important;
    padding-right: 15px;
}

.praise_content_p {
    font-size: 15px !important;
    color: #8C8C8C !important;
}

.announce_head_div {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'open_sansregular';
    line-height: 25px;
}

.announce_content_div {
    font-size: 15px;
    color: #585858;
    font-family: 'open_sansregular';
    line-height: 18px;
}

.announce_content_div a {
    font-family: 'open_sansregular';
    font-size: 15px;
}

.announce_content_div ul, .announce_content_div ol {
    list-style: inherit;
}

.mce-tinymce {
    position: inherit !important;
}

.mce-edit-area {
    border-width: 0px !important;
}

.mce-panel {
    border: 1px solid #E6E6E6 !important;
}

.announce_textpad {
    font-family: 'open_sansregular';
    font-size: 15px;
}

.mce-content-body {
    font-size: 14px;
    line-height: 18px;
    color: #6D6D6D;
}

.mce-content-body ol, .mce-content-body ul {
    /*list-style: inherit;*/
}

.mce-content-body p {
    margin: 0px;
}

.total_vote_div {
    margin: 5px 0px;
    font-size: 13px;
    float: left;
    width: 100%;
    font-family: 'open_sansregular';
}

.ans_option {
    float: left;
    width: 100%;
}

.ans_option .progress {
    width: 90% !important;
}

.praised_text {
    color: #929292;
}

.group_info_div h1 {
    font-size: 21px;
    line-height: 40px;
    color: #464646;
    font-family: 'open_sansregular';
}

.group_info_div p {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    font-family: 'open_sansregular';
}

.group_info_div a {
    font-size: 14px !important;
    font-family: 'open_sansregular' !important;
    text-decoration: underline !important;
    color: #386cc9;
    background-color: #FFFFFF;
    border: 0px solid;
    border-radius: 0px;
    padding: 0px 0px;
    float: none;
}

.group_info_div a:hover {
    color: #386cc9 !important;
    text-decoration: none !important;
}

.group_info_div ul {
    list-style: disc;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    font-family: 'open_sansregular';
    margin-left: 20px;
}

.group_info_div ol {
    list-style: decimal;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    font-family: 'open_sansregular';
    margin-left: 20px;
}

.mce-content-body h1 {
    font-size: 21px;
    line-height: 18px;
    color: #464646;
}

.group_info_edit_button_div {
    float: right;
}

.group_info_save_button_div {
    float: right;
}

.file_exetension_span {
    position: absolute;
    top: 25px;
    left: 50px;
    font-weight: 600;
}

.highlight {
    background-color: #ffe7b8;
}

.institute_logo_text {
    font-size: 20px;
    line-height: 60px;
    color: #fff;
    font-family: 'open_sansregular';
    font-weight: 600;
}

.institute_logo_text:focus {
    color: #FFFFFF;
    text-decoration: none;
}

.institute_logo_text:hover {
    color: #fff;
    text-decoration: none;
}

.tools_text {
    text-decoration: none !important;
    font-family: 'open_sanslight';
    font-size: 22px;
    color: #626262;
    padding-right: 2px;
}

.group_member_div {
    min-height: 400px;
}

.alert_img img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.alert_details h6 {
    font-family: 'open_sansregular';
    font-size: 12px;
    color: #515151;
    line-height: 18px;
    width: 95%;
}

.alert_details h6 a {
    text-decoration: none;
}

.alert_timestamp {
    font-size: 10px;
    color: #7C7C7C;
}

.unread_alert {
    background: #E5E5E5;
}

.course_details_expand {
    color: #3e75c7;
    font-family: 'open_sansregular';
    font-size: 15px;
    cursor: pointer;
}

.mark_as_read {
    top: 10px;
    position: absolute;
    right: 20px;
}

.alert_details {
    font-family: 'open_sansregular';
    font-size: 13px;
    color: #3e75c7;
    text-decoration: none !important;
}

.course_settings {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}
.fix_width_1315{
    table-layout: fixed;
    width: 1315px;
}
.fix_width_600{
    table-layout: fixed;
    width: 600px;
}
.td_height_28{
    line-height: 28px !important;
}
.width_132{
    width: 132px;
}
.marks_date_th{
    font-size: 12px;
    font-family: 'open_sansregular';
    color: #337AB7;
}
.marks_th_span{
    font-size: 16px;
    font-family: 'open_sansregular';
    color: #179117;
}
.marks_num{
    font-size: 13px;
}
.input_width_70{
    width: 70px;
}
.course_desc{
    font-size: 12px;
    color: #8F8F8F;
    text-align: justify;
}
.course_name{
    font-size: 30px; 
    margin-bottom: 15px;
}
.college_error{
    color: red;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

.alerts_popup{
    overflow-y: scroll;
    height: 250px;
    width: 300px;
    background: #F4F4F4;
    position: absolute;
    left: 145px;
    border-radius: 5px;
    border: 1px solid #CDCDCD;
    display: none;
}
.batch_title{
    font-family: 'open_sanslight';
    font-size: 25px;
    font-weight: bold;
    padding: 10px 10px;
    text-align: center;
    margin-bottom: 15px;
}
.college_logo_img{
    float: left;
    height: 50px;
    width: 50px;
    margin: 4px 10px 0px 10px;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid #FFF;
}
.college_default_icon{
    font-size: 34px !important;
    color: #FFFFFF;
    float: left;
    border: 2px solid #fff;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: 4px 10px 0px 10px;
}
.college_default_icon i{
    padding: 8px 2px;
}
.top_group_name{
    font-size: 11px !important;
    color: #000;
}

.all_groups{
    padding: 10px;
    font-size: 18px;
}
.all_groups ul{
    list-style: inherit;
    margin-left: 25px;
    line-height: 25px;
}
.no_posts_div{
    font-size: 15px;
    font-family: 'open_sansregular';
    text-align: center;
    padding: 10px;
}

.padding_300{
    padding: 90px 0px 300px;
}
/***************** Mahadev ends *******************/

.my_clg_space a {
    border-right: 1px solid #cfcfcf !important;
}

.mobile_error {
    color: red;
    font-size: 11px;
    display: none;
}

#profile_pic_edit {
    position: absolute;
    bottom: 8px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 110px;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.pro_image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.profile_class {
    cursor: pointer;
}

.profile_error_msg {
    padding: 0px 10px;
    font-size: 12px;
    color: red;
    display: none;
}

.user_menu_icon {
    width: 18px;
    position: absolute;
    /*top: 10px;
    right: 93px;*/
    top: 12px;
    right: 97px;
}

.following_user {
    padding: 0px;
    color: #fff;
    background: transparent;
    cursor: pointer;
    font-size: 10px;
}

.like_announce {
    cursor: pointer;
}

.like_announce i {
    font-size: 16px;
}

.attend_radio {
    background: #E5E5E5;
    padding: 3px 6px 3px 25px;
    border-radius: 5px;
    border: 1px solid #C3C3C3;
}

/************************** Rashmi code **************************/
.middle_search .chat {
    float: left;
    width: 50px;
    height: 26px;
    margin-top: 10px;
    cursor: pointer;
}

.middle_search .chat a i {
    padding-right: 5px;
}

.middle_search .chat a {

    color: #474747 !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

/**************************End of Rashmi code**************************/


/****************************Start of  Bhashker code******************/
.groupDetails{
    position: absolute;
    top: 155px;
    left: 65px;
    background: #E8E8E8;
    border-radius: 3px;
    padding: 5px 10px;
}
/****************** End fo  Bhashker code****************************/ 

